#algae_viz {
	font-family: Arial;
	width: 100%;
	max-width: 1000px;
	display: block;
	margin-bottom: 10px;
}

#dishes {
}

#title {
	font-size: 30px;
	text-align: center;
}

#console {
	text-align: left;
	margin: 10px auto;
	width: 100%;
	max-width: 750px;
	font-size: 16px;
}

.algae_title {
	text-align: center;
	font-size: 24px;
	padding: 6px 0 3px 0;
}

.temp {
	display: inline-block;
	width: 25%;
	text-align: center;
	color: white;
	padding: 5px 0;
	box-sizing: border-box;
}

.lux {
	display: inline-block;
	width: 12.5%;
	text-align: center;
	font-size: 14px;
	padding: 2px 0;
	margin: -2px auto;	
}

.dish {
	border: 1px solid #CCC;
	box-sizing: border-box;
	text-align: center;
	display: inline-block;
	width: 12.5%;
}

.dish canvas {
	margin: 0 auto;
}

.cell_count {
	text-align: center;
	font-size: 16px;
	margin: 3px auto -1px auto;
}

.growth_rate {
	text-align: center;
	font-size: 16px;
	margin: -2px auto 3px auto;	
}

@media (max-width: 400px) {
	.cell_count,.growth_rate {
		font-size: 12px;
	}
}

#days_container {
	position: relative;
	text-align: center;
	margin: 10px auto 0 auto;
}

#days {
	border-radius: 5px;	
	border: 1px solid #666;
	margin: 0px auto;
	text-align: center;
	padding: 3px 0;
	width: 300px;
	text-align: center;
}

#days_header {
	margin: 3px auto;
}

#day_count {
	font-size: 24px;
	font-weight: 700px;
	text-align: center;
}

.day_container td {
	display: inline-block;
}

button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	margin: 0 2px;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
}

button.selected {
	background-color: #66FF66;
}

#play_pause {
	width: 50px;
}